html,body{
    overflow:hidden;
	margin: 0;
	padding: 0;
    }
#mainDiv {
	display:block;
    width:100%;
    height:100%;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

canvas {
	background-color: transparent;
	width:100%;
	height:auto;
	position:absolute;
}

#Loading {
	position: absolute;
	width:100%;
	height:auto;
}
#Explaining {
	position: absolute;
	width:100%;
	height:auto;
}