html,body{
    overflow:hidden;
	margin: 0;
	padding: 0;
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
    }
#mainDiv {
	display:block;
    width:100%;
    height:100%;
	background-color: transparent;
	margin: 0;
	padding: 0;
}

canvas {
	background-color: transparent;
	width:100%;
	height:auto;
	position:fixed;
}

#Loading {
	position: absolute;
	width:100%;
	height:auto;
}
#Explaining {
	position: absolute;
	width:100%;
	height:auto;
}
.button {
	cursor:pointer;
}
.button:hover {
	background-color: #e5e5e5!important;
}
form {
	margin: 0px auto;
	left: 20px;
	right:20px;
	font-family: "trebuchet";
	
}
input {
	font-size: auto;
	font-family: "trebuchet";
	max-width:80%;
}
.flag {
	padding: 5px;
	margin: 10px;
}